html 
    head 
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css", integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3", crossorigin="anonymous")
        title='Mi página UBI'
    body 
        div(class='container')
            div(class='card')
                div(class='card-body')
                    h2(class='card-title')=title
                    p(class='card-subtitle')='Agregar'
                        table(style='width:100%' class='table')
                            thead 
                                tr 
                                    th(scope='col')='Nro.'
                                    th(scope='col')='Nombres'
                            tbody 
                                tr 
                                    td=1
                                    td='asdasd'
        script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js", integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13", crossorigin="anonymous")